.row {
    display: flex;
}

.row-odd {
    display: flex;
    /* background-color: rgb(201, 225, 233); */
    /* background-color: rgb(236, 176, 176); */
    background-color: rgb(159, 211, 211);
    border-radius: 25px;
}

.row-even {
    display: flex;
    /* background-color: rgb(219, 188, 212); */
    background-color: rgb(167, 199, 199);
    border-radius: 25px;
}

.row-math {
    display: flex;
    background-color: rgb(205, 214, 214);
    border-radius: 25px;
}

.row-problems {
    display: flex;
    border-style: solid;
    border-color: rgb(205, 214, 214);
    border-radius: 25px; 
}

.intro-paragraph {
    padding-left: 2%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(205, 214, 214);
    border-radius: 25px;
}

.paragraph {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

.column-left {
    flex: 40%;
    padding-left: 3%;
}

.column-right {
    flex: 60%;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 2%;
}

.column-problem-left {
    padding-top: 3%;
    padding-left: 1%;
    flex: 51.2%;
}

.column-problem-right {
    padding-top: 3.5%;
    padding-left: 1%;
    padding-right: 1%;
    flex: 48.8%;
}

 /* Stack CSS */
.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
}

.stack-item-1 {
    grid-column: 1 / span 7;
    grid-row: 1;
    z-index: 2;
}

.stack-item-2 {
    grid-column: 5 / -1;
    grid-row: 1;
    z-index: 1;
    padding-top: 20%;
}

.out-of-line {
    position: relative;
    /* Adjust these values accordingly */
    top: 5.5px;
}

.name{
    margin-bottom: 0px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
  }

