.row {
    display: flex;
    flex-wrap: nowrap;
    border-radius: 25px;
    border-style: solid;
    border-width: 3px;
}

/* Fixes things bootstrap import broke */
img {
    box-sizing: content-box;
}
*, ::after, ::before {
    box-sizing: content-box;
}

.row-top {
    border-style: none;
}

.row-research {
    border-color: rgb(104, 197, 201);
}

.row-projects {
    border-color: rgb(0,85,170);
}

.row-math {
    border-color: rgb(216, 194, 94);
}

.row-problems {
    border-color: rgb(216, 194, 94);
}

.row-intro {
    border-color: rgb(211, 111, 81);
}

.paragraph {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

.column-left {
    flex: 40%;
    padding-left: 3%;
}

.column-right {
    flex: 60%;
    padding-left: 4%;
    padding-right: 2%;
    padding-top: 2%;
}

.column-problem-left {
    padding-top: 3%;
    padding-left: 1%;
    flex: 51.2%;
}

.column-problem-right {
    padding-top: 3.5%;
    padding-left: 1%;
    padding-right: 1%;
    flex: 48.8%;
}

.column-left-top {
    flex: 55%;
}

.column-right-top {
    flex: 45%;
    padding-left: 3%;
}

.scholar-icon {
    position: relative;
    top: 5.5px;
}

.devhealth-landing-page {
    padding-top: 13.6%;
    padding-bottom: 2%; 
}

.name {
    margin-bottom: 0px;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

/* Go from 2 columns to 1 */
@media only screen and (max-width: 840px) {

    .row {
        flex-wrap: wrap;
    }
    
    .column-left {
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    
    .column-right {
        padding-right: 3%;
        padding-left: 3%;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    
    .column-problem-left {
        padding-left: 1%;
        padding-right: 1%;
    }

    .stack-item-1 {
        padding-top: 0%;
    }

    p {
        text-align: left;
    }
}

.sticky {
    position: sticky;
    top: 0;
    background-color: rgb(0,85,170);
    z-index: 999;
    text-align: left;
}

.navbar {
    padding: 0;
    margin: -2rem calc(0px - (50vw - 50%)) 2rem;
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
    height: 1%;
}

.nav-item {
    font-size: 150%;
}

.nav-link {
    color: white !important;
}

a {
    color: rgb(0,85,170) !important;
}